@charset "utf-8";
@media screen and (min-width: 1024px) {
  .headerWrap {
    width: 100%;
  }
  .headerTop {
    width: 88.28%;
    height: 90px;
    margin: 0 auto;
    border-bottom: 1px solid #000;
  }
  .headerTopInner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .h1Wrap {
    font-size: 0;
    width: 152px;
    height: 50px;
  }
  .h1Wrap h1 {
    width: 100%;
    height: 100%;
  }
  .h1Wrap h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/pngegg.png) no-repeat center/cover;
  }
  .loginWrap {
    display: block;
    font-size: 1.8rem;
  }
  .loginWrap a:nth-child(1) {
    margin-right: 30px;
  }
  .mBtn {
    display: none;
    width: 35px;
    height: 35px;
    background: none;
  }
  .mBtn span {
    display: block;
    width: 100%;
    height: 5px;
    margin-bottom: 5px;
    background: #000;
  }
  .mBtn span:last-child {
    margin-bottom: 0px;
  }
  nav {
    display: block;
    position: static;
    width: 88.28%;
    height: auto;
    margin: 0 auto;
    background: none;
  }
  .closeBtn {
    display: none;
  }
  .gnb {
    width: 100%;
  }
  .navInner {
    width: 100%;
    height: 50px;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .navWrap {
    display: flex;
    width: 40%;
    max-width: 372px;
    justify-content: space-between;
    margin-top: 0px;
  }
  .navEtc {
    display: flex;
    width: 18%;
    max-width: 150px;
    justify-content: space-between;
  }
  .navInner ul {
    height: 100%;
    line-height: 50px;
    border-bottom: 0px solid #000;
    padding: 0px;
  }

  .navInner ul:first-child {
    padding-top: 0px;
  }
  .navLink {
    margin-bottom: 0px;
  }
  /* .navLink:nth-of-type(1) {
    position: relative;
  } */
  .navLink > a {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navLink a span:nth-child(2) {
    display: none;
  }
  .navWrap li:nth-child(5),
  .navEtc li:nth-child(2),
  .navLogin li:nth-child(2) {
    margin-bottom: 0;
  }
  .navLogin {
    display: none;
  }
  .navLink:nth-of-type(1):hover .subMenuNavi {
    display: block;
  }
  .subMenuNavi {
    display: none;
    width: 160px;
    height: auto;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(134, 131, 131);
  }

  .subMenuHeader {
    display: none;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .subMenuBtn {
    font-size: 3rem;
    background: none;
    position: absolute;
    left: 30px;
  }
  .subMenuTitle span {
    font-size: 2.4rem;
  }
  .subMenuWrap {
    margin-top: 0px;
  }
  .subMenuItem {
    width: 100%;
    padding: 10px 0px 0px 0px;
  }
  .visual {
    width: 100%;
  }
  .visualWrap {
    width: 100%;
    height: 500px;
    background: #d9d9d9;
  }
  .visualImg {
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../img/image\ 1.png") no-repeat center/cover;
  }
  .visualText {
    display: block;
    width: 300px;
    background-color: #f1f1f1;
    position: absolute;
    bottom: 100px;
    left: 150px;
    line-height: 1.5;
  }
  .textTitle {
    font-size: 3rem;
    padding: 20px;
  }
  .textLink {
    font-size: 1.6rem;
    text-align: center;
    background: #19045d;
    margin-top: 75px;
  }
  .textLink a {
    color: #fff;
  }
  .quick {
    width: 100%;
    margin-top: 100px;
  }
  .quickWrap {
    width: 88.28%;
    margin: 0 auto;
    display: flex;
  }
  .quickInnerTop {
    width: 60%;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
  }
  .quickInnerBottom {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .quickBtn {
    margin: 0 auto;
  }
  .quickBtn a img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .quickBtn a span {
    font-size: 2rem;
  }
  .product {
    width: 100%;
    margin-top: 100px;
  }
  .categoryBox {
    width: 88.28%;
    margin: 0 auto;
  }
  .categoryTitle {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
  }
  .productList {
    width: 100%;
  }
  .productItem {
    width: 31.86%;
    /* max-width: 288px; */
  }
  .productLink {
    display: block;
    width: 100%;
    height: 100%;
  }
  .thumb {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    /* height: 288px; */
  }
  .thumb picture {
    display: block;
    width: 100%;
    height: 100%;
  }
  .thumb picture img {
    width: 100%;
    height: 100%;
  }
  .title,
  .price {
    margin-top: 25px;
  }
  .title span {
    font-size: 1.8rem;
  }
  .price {
    display: flex;
    justify-content: space-between;
  }
  .priceCurrent span {
    font-size: 1.8rem;
  }
  .priceOriginal span {
    font-size: 1.6rem;
    text-decoration: line-through;
  }
  .showcase {
    margin-top: 100px;
  }
  .showcaseWrap {
    width: 88.28%;
    margin: 0 auto;
  }
  .showcaseItem {
    width: 100%;
  }
  .showcaseThumb {
    width: 100%;
    height: 500px;
    color: #d9d9d9;
    position: relative;
  }
  .showcaseThumb:hover .dot {
    color: rgb(32, 13, 82);
  }
  .showcaseThumb img {
    width: 100%;
    height: 100%;
  }
  .showcaseText {
    position: absolute;
    left: 30px;
    bottom: 30px;
  }
  .showcaseText div {
    margin-bottom: 20px;
  }
  .showcaseText div:nth-child(3) {
    margin-bottom: 0px;
  }
  .showcaseTitle {
    font-size: 2.6rem;
  }
  .showcaseDesc {
    font-size: 1.8rem;
  }
  .showcaseDesc span {
    display: block;
    line-height: 1.2;
  }

  .showcaseLink a {
    font-size: 1.6rem;
    color: #d9d9d9;
    display: flex;
  }
  .showcaseItem {
    margin-bottom: 30px;
  }
  .showcaseItemBottom .showcaseItem:nth-child(2) {
    margin-bottom: 0;
  }
  .dot {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: #d9d9d9;
    margin-left: 10px;
  }
  .subscription {
    margin-top: 100px;
  }
  .subscriptionWrap {
    width: 88.28%;
    margin: 0 auto;
  }
  .serviceName,
  .stepName {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
  }
  .serviceWrap,
  .stepWrap {
    display: flex;
  }
  .serviceBottom,
  .serviceTop,
  .stepBottom,
  .stepTop {
    width: 100%;
    display: flex;
  }
  .serviceCard {
    width: 100%;
    text-align: center;
  }
  .serviceIcon {
    width: 125px;
    height: 125px;
    border-radius: 30px;
    margin: 0 auto;
  }
  .serviceTitle {
    font-size: 2.4rem;
    margin: 20px 0 15px 0;
  }
  .serviceDesc {
    font-size: 1.8rem;
    width: 80%;
    margin: 0 auto;
    line-height: 1.2;
  }
  .serviceBottom,
  .stepBottom {
    margin-top: 0px;
  }
  .subscriptionSteps {
    margin-top: 50px;
  }
  footer {
    margin-top: 50px;
    background: #a5a5a5;
  }
  .footerWrap {
    width: 88.28%;
    margin: 0 auto;
  }
  .footerContainer {
    padding-top: 50px;
    text-align: center;
    font-size: 1.8rem;
  }
  .footerLogo {
    width: 250px;
    height: 50px;
    margin: 0 auto 30px;
  }
  .footerInfo {
    float: left;
    text-align: left;
  }
  .footerInfo p {
    margin-bottom: 10px;
  }
  .footerInfo p:last-child {
    margin-bottom: 0px;
  }
  .footerPolicy {
    float: right;
    text-align: left;
    margin-top: 30px;
    line-height: 1.3;
  }

  .footerPolicy span:nth-child(3) {
    display: block;
  }
  .footerIcons {
    width: 33%;
    max-width: 300px;
    clear: both;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 50px;
  }
  .icon {
    width: 80px;
    height: 80px;
    border-radius: 20px;
  }
  .footerNotice {
    margin-top: 30px;
    padding-bottom: 30px;
    line-height: 1.5;
  }
}
