@charset "utf-8";
.headerWrap {
  width: 100%;
}
.headerTop {
  width: 83.33%;
  height: 65px;
  margin: 0 auto;
}
.headerTopInner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h1Wrap {
  font-size: 0;
  width: 142px;
  height: 50px;
}
.h1Wrap h1 {
  width: 100%;
  height: 100%;
}
.h1Wrap h1 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(/img/pngegg.png) no-repeat center/cover;
}
.loginWrap {
  display: none;
}
.mBtn {
  width: 30px;
  height: 30px;
  background: none;
}
.mBtn span {
  display: block;
  width: 100%;
  height: 5px;
  margin-bottom: 5px;
  background: #000;
}
.mBtn span:last-child {
  margin-bottom: 0px;
}
nav {
  position: fixed;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  background: #fff;
  transition: left 0.3s ease;
  z-index: 2;
}
.closeBtn {
  display: block;
  font-size: 5rem;
  background: none;
  margin: 0px 20px 0 auto;
}
.gnb {
  width: 100%;
}
.navInner {
  width: 100%;
  font-size: 1.8rem;
}
.navWrap {
  margin-top: 100px;
}
.navInner ul {
  border-bottom: 3px solid #000;
  padding: 30px;
}
.navInner ul:first-child {
  padding-top: 0px;
}
.navLink {
  margin-bottom: 30px;
}
.navLink > a {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navWrap li:nth-child(5),
.navEtc li:nth-child(2),
.navLogin li:nth-child(2) {
  margin-bottom: 0;
}
.subMenuNavi {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  background: #fff;
  transition: left 0.3s ease;
  z-index: 2;
}
.subMenuHeader {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.subMenuBtn {
  font-size: 3rem;
  background: none;
  position: absolute;
  left: 20px;
}
.subMenuTitle span {
  font-size: 2.4rem;
}
.subMenuWrap {
  margin-top: 100px;
}
.subMenuItem {
  width: 100%;
  padding: 20px 30px 20px 30px;
}
.visual {
  width: 100%;
}
.visualWrap {
  width: 100%;
  height: 365px;
  background: #d9d9d9;
}
.visualImg {
  width: 100%;
  height: 100%;
}
.quick {
  width: 100%;
  margin-top: 50px;
}
.quickWrap {
  width: 83.33%;
  margin: 0 auto;
}
.quickInnerTop {
  width: 60%;
  margin: 0 auto 30px;
  display: flex;
  justify-content: space-between;
}
.quickInnerBottom {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.quickBtn {
  margin: 0 auto;
  text-align: center;
}
.quickBtn a img {
  display: block;
  width: 50px;
  height: 50px;

  border-radius: 15px;
  margin: 0 auto 20px;
}
.quickBtn a span {
  font-size: 1.6rem;
}
.product {
  width: 100%;
  margin-top: 100px;
}
.categoryBox {
  width: 91.66%;
  margin-left: auto;
}
.categoryBox .productWrap {
  width: 100%;
}
.categoryTitle {
  font-size: 3rem;
  text-align: center;
  margin: 30px 0px 30px 0;
}
.product .categoryBox:first-child .categoryTitle {
  margin-top: 0;
}
.productList {
  width: 100%;
}
.productItem {
  width: 100%;
}
.productLink {
  display: block;
  width: 100%;
  height: 100%;
}
.thumb {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.thumb picture {
  display: block;
  width: 100%;
  height: 100%;
}
.thumb picture img {
  width: 100%;
  height: 100%;
}
.title,
.price {
  margin-top: 20px;
}
.title span {
  font-size: 2rem;
}
.price {
  display: flex;
  justify-content: space-between;
}
.priceCurrent span {
  font-size: 1.8rem;
}
.priceOriginal span {
  font-size: 1.6rem;
  text-decoration: line-through;
}
.swiper-scrollbar {
  display: none;
}
.showcase {
  margin-top: 100px;
}
.showcaseWrap {
  width: 100%;
}
.showcaseItem {
  width: 100%;
}
.showcaseThumb {
  width: 100%;
  height: 360px;
  color: #d9d9d9;
  position: relative;
}
.showcaseThumb:hover .dot {
  background: #180b43;
}
.showcaseThumb img {
  width: 100%;
  height: 100%;
}
.showcaseText {
  position: absolute;
  left: 30px;
  bottom: 30px;
}
.showcaseText div {
  margin-bottom: 20px;
}
.showcaseText div:nth-child(3) {
  margin-bottom: 0px;
}
.showcaseTitle {
  font-size: 2.6rem;
}
.showcaseDesc {
  font-size: 1.8rem;
}
.showcaseDesc span {
  display: block;
  line-height: 1.2;
}

.showcaseLink a {
  font-size: 1.6rem;
  color: #d9d9d9;
  display: flex;
}
.showcaseItem {
  margin-bottom: 30px;
}
.showcaseItemBottom .showcaseItem:nth-child(2) {
  margin-bottom: 0;
}
.dot {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #d9d9d9;
  margin-left: 10px;
  transition: all 0.1s ease-in;
}
.subscription {
  margin-top: 100px;
}
.subscriptionWrap {
  width: 83.33%;
  margin: 0 auto;
}
.serviceName,
.stepName {
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 20px;
}
.serviceBottom,
.serviceTop,
.stepBottom,
.stepTop {
  width: 100%;
  display: flex;
}
.serviceCard {
  width: 100%;
  text-align: center;
}

.serviceIcon {
  width: 125px;
  height: 125px;
  border-radius: 30px;
  background: url("../img/선택.png") center/cover no-repeat;
  margin: 0 auto;
}
.serviceTop .serviceCard:nth-child(2) .serviceIcon {
  background: url("../img/타이머.png") center/cover no-repeat;
}
.serviceBottom .serviceCard:nth-child(1) .serviceIcon {
  background: url("../img/배송.png") center/cover no-repeat;
}
.serviceBottom .serviceCard:nth-child(2) .serviceIcon {
  background: url("../img/할인.png") center/cover no-repeat;
}
.stepTop .serviceCard:nth-child(2) .serviceIcon {
  background: url("../img/달력.png") center/cover no-repeat;
}
.stepBottom .serviceCard:nth-child(1) .serviceIcon {
  background: url("../img/카드.png") center/cover no-repeat;
}
.stepBottom .serviceCard:nth-child(2) .serviceIcon {
  background: url("../img/배송.png") center/cover no-repeat;
}
.serviceTitle {
  font-size: 2rem;
  margin: 20px 0 15px 0;
}
.serviceDesc {
  font-size: 1.4rem;
  width: 70%;
  margin: 0 auto;
  line-height: 1.2;
}
.serviceBottom,
.stepBottom {
  margin-top: 20px;
}
.subscriptionSteps {
  margin-top: 50px;
}
footer {
  margin-top: 50px;
  background: #a5a5a5;
}
.footerWrap {
  width: 83.33%;
  margin: 0 auto;
}
.footerContainer {
  padding-top: 20px;
  text-align: center;
  font-size: 1.6rem;
}
.footerLogo {
  width: 250px;
  height: 50px;
  margin: 0 auto 30px;
  background: url("/img/pngegg.png") center/cover no-repeat;
}
.footerInfo p {
  margin-bottom: 5px;
}
.footerInfo p:last-child {
  margin-bottom: 0px;
}
.footerPolicy {
  margin-top: 30px;
  line-height: 1.3;
}

.footerPolicy span:nth-child(3) {
  display: block;
}
.footerIcons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.icon {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background: url("../img/Facebook.png") no-repeat center/cover;
}
.icon:nth-of-type(2) {
  background: url("../img/Instagram.png") no-repeat center/cover;
}
.icon:nth-of-type(3) {
  background: url("../img/YouTube\ Squared.png") no-repeat center/cover;
}
.footerNotice {
  margin-top: 30px;
  padding-bottom: 30px;
  line-height: 1.5;
}
.copyright {
  font-size: 1rem;
}
